<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body >
    <center>
        <h1 style="background-color: aqua;">display_topic</h1>
        <table border="3" width="300px" height="300px" style="background-color: aqua;">
            <tr style="background-color: blue;">
                <th >topics_names</th>
            </tr>
            {% for a in topics %}
            <tr style="background-color: orange;">
                <td align="center">{{a.topics_names}}</td>
            </tr>
            {% endfor %}
        </table>
    </center>
</body>
</html>