<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1 style="color: darkturquoise;" >display_arecords</h1>
        <table border="4" width="500px" height="300px">
        <tr style="color: darkturquoise; background-color: black">
            <th>name</th>
            <th>author</th>
            <th>date</th>
        </tr>
        {% for c in AccessRecords %}
           <tr align="center" style="background-color: black; color :red">
            <td>{{c.name}}</td>
            <td>{{c.author}}</td>
            <td>{{c.date}}</td>

           </tr>
        {% endfor %}
    </table>
    </center>
</body>
</html>